img
{
    border: 3px dotted blue;
    width: 300px;
    height: 300px;
   box-shadow: #2E36F2 13px 13px 13px;
   border-radius: 20%;
}

p {
    font-family: ;
    font-size: 48px;
}


img:hover {
    border: dotted green 3px;
    
  }

button{
  
    border-radius: 50%;
}

.button1{

    background-color: pink;

}

.button2{

background-color: yellow;

}

.button3{

background-color: purple;

}